* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}
body {
  background-color: black;
  color: white;
  min-height: 100vh;
}

a {
  color: black;
}
.slideIn {
  height: 100vh;
  font-size: 40px;
  margin-top: 100px;
}

.slideInRight {
  height: 100vh;
  font-size: 40px;
  margin-top: 100px;
}

.showName {
  transition: all 3s;
  animation: slideIn 2s forwards;
}

.showVideos {
  transition: all 3s;
  animation: slideInRight 2s forwards;
}

.hideName {
  opacity: 0;
  transition: all 2s;
}

@keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

html {
  scroll-behavior: smooth;
}

.websitePortfolio {
  height: 100vh;
}

#scaleThis {
  opacity: 0;
}

.navBar {
  position: fixed;
  right:0;
  top: 40%;
  z-index: 2;
  background-color: white;
  padding: 20px 20px 20px 30px;
  border-radius: 15px 0 0 15px;
  font-size: 1.5rem;
}

.navbar > div, a {
  text-decoration: none;
  line-height: 25px;
}

.navbar > div, a:visited {
  color: black;
}

.navbar > div, a:hover {
  color: darkorange;
}

.showModal {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  animation: fadeIn 0.5s forwards;
}
.hideModal {
  visibility: hidden;
}

.modalItem {
  background-color: darkorange;
  height: 60%;
  width: 60%;
  margin: 0 auto;
  margin-top: 10%;
  color: black;
  position:relative;
  text-align: center;
  overflow: scroll;
}

.close > h5 {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
iframe {
}

#WynHero {
  margin-top: 20px;
}
.JajuanX {
  grid-column: 2/4;
  z-index: 4;
  color: black;
  font-family: monospace;
  font-size: 2.5rem;
  height: 80%;
}
.contact {
  display: grid;
  place-items: end center;
  grid-row: 2;
  grid-column: 1/3;
  z-index: 4;
  margin: auto;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  height: 80%;

}

.contact > button {
  color: white;
  width: 60%;
  border-radius: 10px;
  height: 40px;
  font-family: monospace;
  font-size: 25px;
  border: 2px solid white;
  background-color: transparent;
  transition: all .3s;
}

.contact > button:hover {
  background-color: white;
  color: black;
}

button:nth-child(1) {
  margin-right: 20px;
}

.contact > button:nth-child(2) {
  background-color: white;
}
.Skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}

.Box{
  display: grid;
  place-items: center;
}
.skillTitle{
  grid-column: 1/3;
}

.Additional {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Additional > h1 {
  grid-column: 1/3;
}

.Box > h1 {
  font-size: 3rem;
  color: #C4C3C5;
}

.myVideo {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.Header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  min-height: 100vh;
  place-items: center;
  width: 90%;
  margin: auto;
}

#jobTitle {
  font-size: 1.3rem;
}

.projectContainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-y: scroll;
  width: 100%;
  overflow: auto;
}
.webProjectContainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.VideoBox {
  display: inline-block;
  width: 100vw;
  height: 100vh;
}

.VideoBox > iframe {
  width: 100vw;
  height: 85vh;
}

.scroll {
  position: relative;
  bottom: 0;

}

.websiteBox {
  width: 100vw;
  height: 85vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 100px;
  place-items: center;
}

.websiteBox > img {
  width: 80%;
  height: 100%;
}
