* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: white;
  min-height: 100vh;
}
.slideIn {
  height: 100vh;
  font-size: 40px;
  margin-top: 100px;
}

.slideInRight {
  height: 100vh;
  font-size: 40px;
  margin-top: 100px;
}

.showName {
  transition: all 3s;
  animation: slideIn 2s forwards;
}

.showVideos {
  transition: all 3s;
  animation: slideInRight 2s forwards;
}

.hideName {
  opacity: 0;
  transition: all 2s;
}

@keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}

html {
  scroll-behavior: smooth;
}

.websitePortfolio {
  height: 100vh;
}

#scaleThis {
  opacity: 0;
}

.navBar {
  position: fixed;
  right:0;
  top: 40%;
  z-index: 1;
  background-color: white;
  padding: 20px 20px 20px 30px;
  border-radius: 15px 0 0 15px;
}

.navbar > div, a {
  text-decoration: none;
  line-height: 25px;
}

a:visited {
  color: black;
}

a:hover {
  color: darkorange;
}
